[Desktop Entry]
Exec=/usr/bin/rtiadminconsole
Icon=/usr/share/icons/hicolor/96x96/apps/rtiadminconsole.xpm
Name=RTI Admin Console
Type=Application
Categories=Development
