[Desktop Entry]
Exec=/usr/bin/rtimonitor
Icon=/usr/share/icons/hicolor/96x96/apps/rtimonitor.png
Name=RTI Monitor
Type=Application
Categories=Development
